body {
  font-family: 'Roboto', sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  .skip:hover {
    color: red;
  }

  .option:hover {
    border-style: double;
    border-color: rgb(180, 19, 236);
    border-radius: 5px;
    border-width: thick;
    padding: 9px;
  }

  .ui.purple.tiny.progress {
    width: 100%;
  }
  
  .node {
  cursor: pointer;
  }

  .node:hover {
    stroke: #000;
    stroke-width: 1.5px;
  }

  .node--leaf {
    fill: white;
  }

  .label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 - 1px 0 #fff;
  }

  .label,
  .node--root,
  .node--leaf {
    pointer-events: none;
  }
  

  // nav a {
  //   display: inline-block;
  //   margin: 1em;
  // }

  // form div {
  //   margin: 1em;
  //   display: inline-block;
  // }

  @media (min-width: 767px)  {
    .definitions-container {
      width: min-content!important;
    }
  }

  @media (max-width: 767px) {
    .fullScreen {
      height: 100% !important;
      padding-bottom: 2em;
    }
  }
}
