body {
  font-family: 'Roboto', sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  .skip:hover {
    color: red;
  }
  // nav a {
  //   display: inline-block;
  //   margin: 1em;
  // }

  // form div {
  //   margin: 1em;
  //   display: inline-block;
  // }

  @media (min-width: 767px)  {
    .definitions-container {
      width: min-content!important;
    }
  }
}
